<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>food_1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>food_2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>food_3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>food_4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>food_5</string>
	</dict>
	<dict>
		<key>name</key>
		<string>food_6</string>
	</dict>
	<dict>
		<key>name</key>
		<string>food_7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>food_8</string>
	</dict>
	<dict>
		<key>name</key>
		<string>food_9</string>
	</dict>
	<dict>
		<key>name</key>
		<string>food_10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>food_11</string>
	</dict>
	<dict>
		<key>name</key>
		<string>food_12</string>
	</dict>
	<dict>
		<key>name</key>
		<string>food_13</string>
	</dict>
	<dict>
		<key>name</key>
		<string>food_14</string>
	</dict>
	<dict>
		<key>name</key>
		<string>food_15</string>
	</dict>
	<dict>
		<key>name</key>
		<string>food_16</string>
	</dict>
	<dict>
		<key>name</key>
		<string>food_17</string>
	</dict>
	<dict>
		<key>name</key>
		<string>food_18</string>
	</dict>
	<dict>
		<key>name</key>
		<string>food_19</string>
	</dict>
	<dict>
		<key>name</key>
		<string>food_20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>food_21</string>
	</dict>
	<dict>
		<key>name</key>
		<string>food_22</string>
	</dict>
	<dict>
		<key>name</key>
		<string>food_23</string>
	</dict>
	<dict>
		<key>name</key>
		<string>food_24</string>
	</dict>
	<dict>
		<key>name</key>
		<string>food_25</string>
	</dict>
	<dict>
		<key>name</key>
		<string>food_26</string>
	</dict>
	<dict>
		<key>name</key>
		<string>food_27</string>
	</dict>
	<dict>
		<key>name</key>
		<string>food_28</string>
	</dict>
	<dict>
		<key>name</key>
		<string>food_29</string>
	</dict>
	<dict>
		<key>name</key>
		<string>food_30</string>
	</dict>
	<dict>
		<key>name</key>
		<string>food_31</string>
	</dict>
	<dict>
		<key>name</key>
		<string>food_32</string>
	</dict>
</array>
</plist>
