<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>house_1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>house_2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>house_3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>house_4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>house_5</string>
	</dict>
	<dict>
		<key>name</key>
		<string>house_6</string>
	</dict>
	<dict>
		<key>name</key>
		<string>house_7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>house_8</string>
	</dict>
	<dict>
		<key>name</key>
		<string>house_9</string>
	</dict>
	<dict>
		<key>name</key>
		<string>house_10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>house_11</string>
	</dict>
	<dict>
		<key>name</key>
		<string>house_12</string>
	</dict>
	<dict>
		<key>name</key>
		<string>house_13</string>
	</dict>
	<dict>
		<key>name</key>
		<string>house_14</string>
	</dict>
	<dict>
		<key>name</key>
		<string>house_15</string>
	</dict>
	<dict>
		<key>name</key>
		<string>house_16</string>
	</dict>
	<dict>
		<key>name</key>
		<string>house_17</string>
	</dict>
	<dict>
		<key>name</key>
		<string>house_18</string>
	</dict>
	<dict>
		<key>name</key>
		<string>house_19</string>
	</dict>
	<dict>
		<key>name</key>
		<string>house_20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>house_21</string>
	</dict>
	<dict>
		<key>name</key>
		<string>house_22</string>
	</dict>
	<dict>
		<key>name</key>
		<string>house_23</string>
	</dict>
	<dict>
		<key>name</key>
		<string>house_24</string>
	</dict>
	<dict>
		<key>name</key>
		<string>house_25</string>
	</dict>
	<dict>
		<key>name</key>
		<string>house_26</string>
	</dict>
	<dict>
		<key>name</key>
		<string>house_27</string>
	</dict>
	<dict>
		<key>name</key>
		<string>house_28</string>
	</dict>
</array>
</plist>
