<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>people_1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>people_2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>people_3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>people_4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>people_5</string>
	</dict>
	<dict>
		<key>name</key>
		<string>people_6</string>
	</dict>
	<dict>
		<key>name</key>
		<string>people_7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>people_8</string>
	</dict>
	<dict>
		<key>name</key>
		<string>people_9</string>
	</dict>
	<dict>
		<key>name</key>
		<string>people_10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>people_11</string>
	</dict>
	<dict>
		<key>name</key>
		<string>people_12</string>
	</dict>
	<dict>
		<key>name</key>
		<string>people_13</string>
	</dict>
	<dict>
		<key>name</key>
		<string>people_14</string>
	</dict>
	<dict>
		<key>name</key>
		<string>people_15</string>
	</dict>
	<dict>
		<key>name</key>
		<string>people_16</string>
	</dict>
	<dict>
		<key>name</key>
		<string>people_17</string>
	</dict>
	<dict>
		<key>name</key>
		<string>people_18</string>
	</dict>
	<dict>
		<key>name</key>
		<string>people_19</string>
	</dict>
	<dict>
		<key>name</key>
		<string>people_20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>people_21</string>
	</dict>
	<dict>
		<key>name</key>
		<string>people_22</string>
	</dict>
	<dict>
		<key>name</key>
		<string>people_23</string>
	</dict>
	<dict>
		<key>name</key>
		<string>people_24</string>
	</dict>
	<dict>
		<key>name</key>
		<string>people_25</string>
	</dict>
	<dict>
		<key>name</key>
		<string>people_26</string>
	</dict>
	<dict>
		<key>name</key>
		<string>people_27</string>
	</dict>
	<dict>
		<key>name</key>
		<string>people_28</string>
	</dict>
	<dict>
		<key>name</key>
		<string>people_29</string>
	</dict>
	<dict>
		<key>name</key>
		<string>people_30</string>
	</dict>
	<dict>
		<key>name</key>
		<string>people_31</string>
	</dict>
	<dict>
		<key>name</key>
		<string>people_32</string>
	</dict>
</array>
</plist>
