<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>space_1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>space_2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>space_3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>space_4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>space_5</string>
	</dict>
	<dict>
		<key>name</key>
		<string>space_6</string>
	</dict>
	<dict>
		<key>name</key>
		<string>space_7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>space_8</string>
	</dict>
	<dict>
		<key>name</key>
		<string>space_9</string>
	</dict>
	<dict>
		<key>name</key>
		<string>space_10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>space_11</string>
	</dict>
	<dict>
		<key>name</key>
		<string>space_12</string>
	</dict>
	<dict>
		<key>name</key>
		<string>space_13</string>
	</dict>
	<dict>
		<key>name</key>
		<string>space_14</string>
	</dict>
	<dict>
		<key>name</key>
		<string>space_15</string>
	</dict>
	<dict>
		<key>name</key>
		<string>space_16</string>
	</dict>
	<dict>
		<key>name</key>
		<string>space_17</string>
	</dict>
	<dict>
		<key>name</key>
		<string>space_18</string>
	</dict>
</array>
</plist>
